<br>
<div class="jumbotron">
  <h1>Phazam</h1>
  <p>Phazam is a resource to gauge your ability to recognize how a photo was taken. Test your skills. Set your sights on the top of the ladder.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Test your skills</h2>
    <p>Choose the corect aperture, shutter speed, and focal length that a photo was taken.</p>
  </div>
  <div class="col-md-4">
    <h2>Gain points for accuracy</h2>
    <p>Each correct answer will build your overall skill level.</p>
  </div>
  <div class="col-md-4">
    <h2>Do you think you're better than the rest?</h2>
    <p>Then prove it. Make it to the top of the ladder.</p>
  </div>
</div>