%body#page-top
  %header
    .header-content
      .header-content-inner
        %h1 Phazam
        %hr
          %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out More
  %section#about.bg-primary
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          %h2.section-heading Learn from other photos on Flickr!
          %hr.light
            %p.text-faded Phazam uses the Flickr API to retrieve top photos from the day and displays the image along with its EXIF data. You'll be able to easily view the technical details behind how a photo was created!
            %a.btn.btn-default.btn-xl{:href => new_user_registration_path} Get Started!
  %section#features
    .container
      .row
        .col-lg-12.text-center
          %h2.section-heading Phazam Features
          %hr.primary
    .container
      .row
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-photo.wow.bounceIn.text-primary
            %h3 View Photos
            %p.text-muted Interesting photos are uploaded to Flickr everyday. View them easily here!
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary{"data-wow-delay" => ".3s"}
            %h3 Hover to Discover
            %p.text-muted An easy to use format allows you to view an image and quickly see its EXIF attributes
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary{"data-wow-delay" => ".6s"}
            %h3 Challenge Yourself
            %p.text-muted Test your photography skills. Can you guess the correct attributes?
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary{"data-wow-delay" => ".9s"}
            %h3 Get Started
            %p.text-muted= link_to "Create an account and explore!", new_user_registration_path
  %section#portfolio.no-padding
    .container-fluid
      .row.no-gutter
        - @images.each do |image|
          = render 'images/image', {image: image, link: image}