.row
  .col-md-2
    %b= exif_name
  .col-md-4
    .btn-group
      - (0..option_value.length-1).each do |i|
        %input.btn.btn-default{type: "button",
          id: exif_attribute,
          name: "#{exif_attribute}_guess",
          value:option_value[i]}
/ %input.input{type: "radio",
/ id: exif_attribute,
/ name: "#{exif_attribute}_guess",
/ value:option_value[i],
/ checked:true}= option_value[i]