%h3 Welcome to the Phazam Challenge
= link_to @image.large_url do
  = image_tag @image.large_url, :class => "singleImage fitWidth"
= render partial: 'challenge_input', locals: {challenge: @challenge,image: @image,  exif_options: @exif_options}