/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.container {
  width: 75%;
}

/* Images */
ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%;
}
ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul.rig li img { 
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
ul.rig li h3 {
  margin: 0 0 5px;
}
ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}
ul.rig.colums-2 li {
  width: 47.5%;
}
ul.rig.columns-3 li {
  width: 30.83%;
}
ul.rig.columns-4 li {
  width: 22.5%;
}
@media (max-width: 480px) {
  ul.grid-nav li { 
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important;
    margin: 0 0 20px;
  }
}

/* hover */

.imgWrap {
  position: relative;
}

.imgContainer {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  background: rgba(255,255,255,1);
  color: 0;

  visibility: hidden;
  opacity: 0;
}

.imgWrap:hover .imgContainer {
  visibility: visible;
  opacity: .75;
}

.imgDescription{
  margin: 0 0 2.5% 2.5%;
}
