.container-fluid
  %h3{class: "text-center"} Interesting Photos of Today (from Flickr)
  %p{class: "text-center"} Use these fresh new photos from Flickr to practice before your challenge! Hover over an image to view the EXIF data for that photo.
%ul.rig.columns-3
  - @images.each do |image|
    %li= render 'image', {image: image, link: image}